/* Iniciador */

*{
    margin:0;
    padding:0;
}

.nav-link{
    text-decoration: none !important;
    color: white !important;
}

#search-div a{
    margin-right: 10px;
    font-weight: bolder;
    display:block;
    padding-top:10px;
    margin-left: 10px;
}

#search-div{
    background-color: #7b8188!important;
    color:white;
    margin-bottom: 20px;
    height: 100vh;
}

#logo img{
    width:15%;
    padding:10px;
}

