h2{
    text-align: center;
}

label{
    font-weight: bolder;
}

.glyphicon{ 
    padding:5px; 
    background:#ffffff; 
    margin-right:4px; 
    border-radius: 50%;
}

.icon-btn{ 
    padding: 1px 15px 3px 2px; 
    border-radius:50px;
}

main button{
    display: block !important;
    margin-left: 500px !important;
}

