h2{
    text-align: center;
}

label{
    font-weight: bolder;
}

.glyphicon{ 
    padding:5px; 
    background:#ffffff; 
    margin-right:4px; 
    border-radius: 50%;
}

.icon-btn{ 
    padding: 1px 15px 3px 2px; 
    border-radius:50px;
}

main button{
    display: block !important;
    margin-left: 500px !important;
}



form{
    width: 70%;
}

#inputNamesub{
    display: inline !important;
    width: 90% !important;
}

.hide{
    display: none;
}

/*media queries*/

@media screen and (min-width: 0px) and (max-width: 780px){
    main button{
        margin-left: 10px !important;
        margin-top: 10px;
    }

    #login-main{
        display:block !important;
    }

    main{
        width: auto;
    }

    #nav-menu{
        height: 70px;
    }
}