h2{
    text-align: center;
}

label{
    font-weight: bolder;
}

#icon-search a{
    margin-right: 10px;
    font-weight: bolder;
}

header{
    background-color: #7b8188;
    color:white;
    margin-bottom: 20px;
}

.btn-glyphicon { 
    padding:5px; 
    background:#ffffff; 
    margin-right:4px; 
    border-radius: 50%;
}
.icon-btn { 
    padding: 1px 15px 3px 2px; 
    border-radius:50px;
}
