.list-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list-container a{
    color: inherit;
}

.list-container a:hover{
    color: inherit;
    text-decoration: none;
}

.product{
    width: 250px;
}

.product img{
    width: 200px;
    height: 215px;
}

.colection{
    width: 200px;
}
.colection img{
    width: 190px;
    height: 200px;
}

.most-sold{
    width: 220px;
}

.most-sold img{
    width: 170px;
    height: 177px;
}