/*how_buy*/

main h2{
    color: #1185b8;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: font-hero, Arial, Helvetica, sans-serif;
}

main p{
    line-height: 40px;
    font-weight: bolder;
}
