/* I N I C I A D O R */

*{
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
}

/* H E A D E R */

header{
    width: 100%; 
	left: 0; 
	top: 0; 
    position: fixed;
    z-index:99;
}

/* contact-div: Seccion en Gris; para las redes sociales */

#contact-div{
    background-color: #343a40;
    color:#fff;
}

#icon .icon{
    font-size: 1.2em;
    margin: 0 8px;
    padding: 3px 7px;
    color:#fff;
    background-color: #666;
    border-radius: 40px;
}

#icon .icon:hover{
    background-color:#3b5998;
}

#icon, #logo{
    display: inline-block;
    width: 40%;
    margin-left: 10%;
}

/* search-div: Seccion en Blanco; para la busqueda, logo y algunos iconos */
#search-div{
    background-color: white;
    padding-top: 12px;
    padding-bottom: 12px;
}

#logo img{
    margin: -30px;
    width: 120px;
    transition: width .2s linear;
}

#icon-search{
    display: inline-block;
    width: 40%;
    padding-left: 10%;
    text-align: right;
}

#icon-search form{
    display: inline-block;
}

#icon-search input{
    border-radius: 25px !important;
}

#icon-search .icon{
    font-size: 1.5em;
    padding: 5px 10px;
    color: #fff;
    background-color: #000;
    border-radius: 40px;
    vertical-align: bottom;
}

#icon-search .icon:hover{
    background-color: #f00;
}

/* nav-menu: Seccion en Rojo; donde esta hubicado todo el menu de navegacion */

#nav-menu{
    padding: 0 10%;
    background-color: #1185b8 !important;
}

#nav-menu a{
    height: 100%;
    color: #fff !important;
    text-align: center;
}

#nav-menu a:hover{
    color: #1185b8 !important;
    background-color: #fff;
}

.dropdown-menu, .dropdown-item:hover{
    background-color: #f00;
}

#word{
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 20%;
}

#word p{
    padding:10px;
    margin-bottom: 0;
}

#word p, #info-footer a{
    text-decoration:none;
    color:white;
}

/* F O O T E R */
.info{
    display:inline-block;
    width:25%;
    margin-left: 4%;
    margin-right: 4%;
}

#info-footer div:nth-child(2), #info-footer div:first-child{
    vertical-align: top;
}

#info-footer div{
    margin-top: 10px;
}

header nav .icon{
    width: 5%;
}

footer{
    background-color: black;
    color: white;
}

footer h6{
    background-color: #343a40;
}

footer i{
    color:white;
    width: 5%;
}

#follow-us{
    background-color: #fff;
    color: #212529;
    padding-bottom: 18px;
}

#follow-us img{
    width: 50px;
    margin: 8px;
}

#follow-us img:hover{
    opacity: 0.7;
}

#info-footer h6{
 text-align: center;
 font-weight: bolder;
 padding: 15px;
}

/* Estandar del diseño general */

body{
    padding-top: 192px;
}

main{
    width: 1150px;
    margin: 0 auto;
    box-sizing: border-box;
}

.main-section h3{
    font-weight: 700;
}

.main-section hr{
    width: 120px;
    height: 7px;
    margin: 15px auto 45px auto;
    background-color: #1185b8;
}

.main-section{
    margin-top: 70px;
    text-align: center;
    text-transform: uppercase;
    color: #212529;
}

.selectable:hover{
    opacity: .8;
    cursor: pointer;
}