*{
    margin:0;
    padding:0;
}

#contact-div{
    background-color: #343a40;
    color:white;
}

#nav-menu{
    background-color: #ff0000 !important;
}

#nav-menu a{
    color: #fff !important;
}

#icon, #logo{
    display: inline-block;
    width: 40%;
    margin-left: 10%;
}

#icon img{
    width: 8%;
    padding: 10px;
}

#icon-search img{
    width: 10%;
    padding:5px;
}

#word{
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 20%;
}

#word p{
    padding:10px;

}

a{
    text-decoration: none;
}

#word p, #info-footer a{
    text-decoration:none;
    color:white;
}

#icon-search form{
    display: inline-block;
}

#icon-search{
    display: inline-block;
    width: 40%;
    padding-left: 15%;
}

#logo img{
    width: 40%;
}

footer .icon{
    background-color:white !important;
    border-radius: 15px;
}

.info{
    display:inline-block;
    width:25%;
    margin-left: 4%;
    margin-right: 4%;
}

#info-footer div:nth-child(2), #info-footer div:first-child{
    vertical-align: top;
}

#info-footer div{
    margin-top: 10px;
}

header nav .icon{
    margin-left: 10%;
}

footer .icon, header nav .icon{
    width: 5%;
}

#info-footer h6 img:last-child{
    width: 2%;
}

main{
    width: 1150px;
    margin: 0 auto;
    box-sizing: border-box;
}

.main-section{

    margin-top: 70px;
    text-align: center;
    text-transform: uppercase;
}

.main-section h3{
    font-weight: 700;
}

.main-section hr{
    width: 120px;
    height: 7px;
    margin: 15px auto 45px auto;
    background-color: #f00;
}

.list-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list-container a{
    color: #212529;
}

.list-container a:hover{
    color: inherit;
    text-decoration: none;
}

.card{
    padding: 13px 25px;
    border-radius: 20px !important;
}

.card-description{
    margin-top: 18px;
    margin-bottom: 0;
}

.card-price{
    color: #f00;
}

.card-stock{
    margin-top: 10px;
}

.product{
    width: 250px;
}

.product img{
    width: 200px;
    height: 215px;
}

.colection{
    width: 200px;
}
.colection img{
    width: 190px;
    height: 200px;
}

.most-sold{
    width: 220px;
}

.most-sold img{
    width: 170px;
    height: 177px;
}

footer{
    background-color: black;
    color: white;
}

footer h6{
    background-color: #343a40;
}

footer img{
    margin:5px;
}

#follow-us{
    background-color: #fff;
    color: #212529;
    padding-bottom: 18px;
}

#follow-us img{
    width: 50px;
    margin: 8px;
}

#follow-us img:hover{
    opacity: 0.7;
}

#info-footer h6{
 text-align: center;
 font-weight: bolder;
}

/*how_buy*/

main h2{
    color: red;
    margin-bottom: 20px;
}

main p{
    line-height: 40px;
    font-weight: bolder;
}

/*quienes_somos*/

main img{
    width: 30%;
}

#map{
    height: 500px;
    width: 100%;
}